* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* hacer un mini tailwind: es decir crear clases genericas y reutilizarlas */
.flex {
  display: flex;
}

.radius-md {
  border-radius: 20px;
}

.p-20 {
  padding: 20px;
}

.p-25 {
  padding: 25px;
}

.container {
  background-color: hsl(217, 100%, 97%);
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container__box {
  background-color: #fff;
  height: 70vh;
  width: 50%;
  justify-content: space-between;
}

.container__box > div:first-child {
  width: 25%;
  background: url("../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.step__container {
  gap: 15px;
  align-items: center;
  margin-bottom: 50px;
}

.step__number {
  padding: 7px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  border: solid #fff;
}

.step__number:hover {
  background-color: hsl(206, 94%, 87%);
  border: solid hsl(206, 94%, 87%);
  color: #000;
  cursor: pointer;
}

.text-step {
  text-transform: uppercase;
  font-size: 13px;
  color: hsl(229, 24%, 87%);
  margin-bottom: 5px;
}

.text-info {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.mt-20 {
  padding-top: 40px;
}

.container__info {
  width: 60%;
}

.title__info {
  font-size: 32px;
}

.description__info {
  color: hsl(229, 24%, 87%);
  margin-top: 10px;
}

.input__info {
  flex-direction: column;
  margin-top: 30px;
}

.input__info > span {
  color: hsl(213, 96%, 18%);
}

.input__info > input {
  width: 75%;
  margin-top: 10px;
  padding: 15px;
  border-radius: 8px;
  border: solid 1px hsl(231, 11%, 63%);
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: hsl(213, 96%, 18%);
  outline: none;
}

.input__info > input:hover {
  cursor: pointer;
  border: solid hsl(243, 100%, 62%) 1px;
}

.btn__next-container {
  text-align: right;
  width: 80%;
}

.btn__next {
  background-color: hsl(213, 96%, 18%);
  color: #fff;
  border: none;
  margin-top: 40px;
  padding: 15px 25px;
  border-radius: 6px;
  font-family: "Ubuntu", sans-serif;
}
