* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alata", sans-serif;
}

.principal__section {
  background: url("../assets/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  font-family: "Josefin Sans", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 25px;
  color: #fff;
}

.hero > div {
  border: solid #fff;
  padding: 20px;
  width: 25%;
  margin-top: 100px;
  word-wrap: break-word;
}

.hero > div > h1 {
  color: #fff;
  font-weight: normal;
  font-size: 60px;
}

.main {
  width: 1040px;
  margin: auto;
}

.article__section {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

.article__container {
  align-self: end;
  width: 35%;
  margin-left: -150px;
  background-color: #fff;
  padding: 60px 60px 0 60px;
}

.article__container h2 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 40px;
}

.gallery__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.gallery__title h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}

.gallery__title button {
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #000;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 10px 30px;
}

.gallery__title button:hover {
  background-color: #000;
  color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 40vh);
  justify-content: space-between;
  gap: 20px;
}

.gallery div {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: end;
  cursor: pointer;
}

.gallery div:hover {
  color: #000;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
}

.earth {
  background: url("../assets/desktop/image-deep-earth.jpg");
}

.soccer {
  background: url("../assets/desktop/image-soccer-team.jpg");
}

.arcade {
  background: url("../assets/desktop/image-night-arcade.jpg");
}

.race {
  background: url("../assets/desktop/image-grid.jpg");
}

.trip {
  background: url("../assets/desktop/image-from-above.jpg");
}

.sky {
  background: url("../assets/desktop/image-pocket-borealis.jpg");
}

.mars {
  background: url("../assets/desktop/image-curiosity.jpg");
}

.wave {
  background: url("../assets/desktop/image-fisheye.jpg");
}

.gallery div h3 {
  padding: 20px;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  width: 20%;
}

@media screen and (max-width: 600px) {
  .principal__section {
    padding: 20px;
    background: url("../assets/mobile/image-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
  }

  .nav__list {
    display: none;
  }

  .hero div {
    width: auto;
  }

  .hero div h1 {
    font-size: 42px;
  }

  .main {
    width: 375px;
  }

  .article__section {
    flex-direction: column;
    align-items: center;
  }

  .article__section > div > img {
    width: 340px;
  }

  .article__container {
    margin-left: 0;
    padding: 0;
    width: auto;
    margin-top: 40px;
    text-align: center;
  }

  .article__container h2 {
    font-size: 32px;
    padding-bottom: 20px;
  }

  .article__container p {
    width: 340px;
    margin: auto;
  }

  .gallery__title {
    justify-content: center;
  }

  .gallery__title button {
    display: none;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 15vh);
    margin: 20px;
  }

  .gallery div h3 {
    font-size: 26px;
    width: 50%;
  }

  .earth {
    background: url("../assets/mobile/image-deep-earth.jpg");
  }

  .soccer {
    background: url("../assets/mobile/image-soccer-team.jpg");
  }

  .arcade {
    background: url("../assets/mobile/image-night-arcade.jpg");
  }

  .race {
    background: url("../assets/mobile/image-grid.jpg");
  }

  .trip {
    background: url("../assets/mobile/image-from-above.jpg");
  }

  .sky {
    background: url("../assets/mobile/image-pocket-borealis.jpg");
  }

  .mars {
    background: url("../assets/mobile/image-curiosity.jpg");
  }

  .wave {
    background: url("../assets/mobile/image-fisheye.jpg");
  }
}
