* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alata", sans-serif;
}

.principal__section {
  background: url("../assets/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  font-family: "Josefin Sans", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 25px;
  color: #fff;
}

.hero > div {
  border: solid #fff;
  padding: 20px;
  width: 25%;
  margin-top: 100px;
  word-wrap: break-word;
}

.hero > div > h1 {
  color: #fff;
  font-weight: normal;
  font-size: 60px;
}

.main {
  width: 1040px;
  margin: auto;
}

.article__section {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

.article__container {
  align-self: end;
  width: 35%;
  margin-left: -150px;
  background-color: #fff;
  padding: 60px 60px 0 60px;
}

.article__container h2 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 40px;
}

.gallery__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.gallery__title h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 40vh 40vh;
  justify-content: space-between;
  gap: 20px;
}

.gallery div {
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  align-items: end;
  cursor: pointer;
}

.gallery div:hover {
  color: #000;
  /* backdrop-filter: blur(5px); */
  background: rgba(255, 255, 255, 0.3);
}

.earth {
  background: url("../assets/desktop/image-deep-earth.jpg");
}

.soccer {
  background: url("../assets/desktop/image-soccer-team.jpg");
}

.arcade {
  background: url("../assets/desktop/image-night-arcade.jpg");
}

.race {
  background: url("../assets/desktop/image-grid.jpg");
}

.trip {
  background: url("../assets/desktop/image-from-above.jpg");
}

.sky {
  background: url("../assets/desktop/image-pocket-borealis.jpg");
}

.mars {
  background: url("../assets/desktop/image-curiosity.jpg");
}

.wave {
  background: url("../assets/desktop/image-fisheye.jpg");
}

.gallery div h3 {
  padding: 20px;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  width: 20%;
}
